<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <div class="bd-masthead">
          <div class="container">
            <h1 class="display-3">Planets for Sale</h1>
            <p class="lead">Find your dream home today. These planets have just been listed for sale. </p>
          </div>
        </div>
        <div class="container"> 
            <% for(var i=0; i<planets.length; i++) {%>  
                <div class="panel panel-default" style="width: 578px;">     
                        <div class="panel-heading"> 
                            <h4><%= planets[i].name %></h4>
                        </div>
                        <div class="panel-body"> 
                            <img src="<%= planets[i].image %>" style="width: 500px; height: 300px;">
                            <ul class="list-group">
                                <li class="list-group-item">Description: <%= planets[i].description %></li>
                                <li class="list-group-item">Price: <%= planets[i].price %> </li>
                                <li class="list-group-item">Agent: <%= planets[i].agent %></li>
                            </ul>
                        </div>
                        <div class="panel-footer">Like what you see? Contact the agent today.</div>
                </div> 
            <% } %> 
        </div>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>