<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

    <body style="background-color: black">
        <header>
            <% include ../partials/header %>
        </header>
        <div class="container"> 
            <div class="bd-masthead" style="color: #ecf0f1;">
                <h1 class="display-3">Planets for Rent</h1>
                <p class="lead">Find your dream home today. These planets have just been listed for rent. </p>
            </div>
            <% for(var i=0; i<planetsforrent.length; i++) {%>  
                <div class="panel panel-default" style="width: 100%;">     
                        <div class="panel-heading"> 
                            <h4><%= planetsforrent[i].name %></h4>
                        </div>
                        <div class="panel-body"> 
                            <img src="<%= planetsforrent[i].image %>" style="width: 500px; height: 300px;">
                            <ul class="list-group">
                                <li class="list-group-item">Description: <%= planetsforrent[i].description %></li>
                                <li class="list-group-item">Price per week: <%= planetsforrent[i].price %> </li>
                                <li class="list-group-item">Agent: <%= planetsforrent[i].agent %></li>
                            </ul>
                        </div>
                        <div class="panel-footer">Like what you see? Contact <%= planetsforrent[i].agent %> today.</div>
                </div> 
            <% } %> 

        </div>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>