<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

    <body style="background-color: black">
        <header>
            <% include ../partials/header %>
        </header>
        <div class="bd-masthead" style="color: #ecf0f1;">
          <div class="container">
            <h1 class="display-3">Planets for Rent</h1>
            <p class="lead">Find your dream home today. These planets have just been listed for rent. </p>
          </div>
        </div>
        <div class="container" style="float:left; width: 30%; margin-left: 79px; color: white;"> 
            <div class="panel panel-default" style="width: 400px;">     
                        <div class="panel-heading"> 
                            <h4>Refine Search</h4>
                        </div>
                        <div class="panel-body">
                          <a href="/planets"> <button type="submit" class="btn btn-secondary" style="background-color: black;">Sale</button> </a>
                           <a href="/"><button type="submit" class="btn btn-secondary" style="background-color: black;">Post a Planet</button></a>
                           <a href="/rent"><button type="submit" class="btn btn-secondary" style="background-color: black;">Post a rental</button></a>
                        </div>
                </div> 
        </div>
        </div>
        
        <div class="container" style="float:right; width: 60%;"> 
            <% for(var i=0; i<planetsforrent.length; i++) {%>  
                <div class="panel panel-default" style="width: 578px;">     
                        <div class="panel-heading"> 
                            <h4><%= planetsforrent[i].name %></h4>
                        </div>
                        <div class="panel-body"> 
                            <img src="<%= planetsforrent[i].image %>" style="width: 500px; height: 300px;">
                            <ul class="list-group">
                                <li class="list-group-item">Description: <%= planetsforrent[i].description %></li>
                                <li class="list-group-item">Price per week: <%= planetsforrent[i].price %> </li>
                                <li class="list-group-item">Agent: <%= planetsforrent[i].agent %></li>
                            </ul>
                        </div>
                        <div class="panel-footer">Like what you see? Contact the agent today.</div>
                </div> 
            <% } %> 
        </div>


        <footer style="clear: both;">
            <% include ../partials/footer %>
        </footer>
    </body>
</html>